 *{
 margin: 0px;
 padding: 0px;
 box-sizing: border-box;
 text-decoration: none;
 list-style: none;
 font-family: 'Roboto Slab', serif; ;
 }
i,button{cursor: pointer;}
   
  
.main{
width  : 100%;
height : 675px;
border : 2px solid blue;
background-color: rgb(255, 255, 255);
} 
.product{
    width: 30%;
    height : 100%;
    border:2px solid rgb(215, 215, 215);
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
    /* overflow: scroll; */
}
 
.product > div {
    padding: 10px;
    border:2px solid rgb(231, 231, 231);
    border-radius: 5px;
}
#divimg {
    width : 100%;height: 70px;
    /* border:2px solid red; */
}
h4{
    /* margin-left: 20px; */
    text-transform: uppercase;
    margin-top: 5px;
}
img {
    width : 100%;height : 100%;
    /* background-color: red; */
}
#c {
    width : 25px; 
    aspect-ratio: 1/1; 
}
#div2 { 
    width: 90%;
    font-size: 20px;
    font-weight: bold;
    display : flex;
    justify-content:space-between;
    align-items:center;
    margin: auto;
    margin-top: 10px; 
    /* border:2px solid red; */
}
.progress{
    width : 1px;height: 1px;
    border:5px solid red;
}
.btn{
    display : flex;
    justify-content:space-around;
    margin-top: 225px;
}
#order,#view  { 
    width: 200px;height: 40px;
    font-size: 20px; 
    cursor: pointer; 
    background-color: white;
    border: none;
    border: 2px solid rgb(0, 34, 255);
    border-radius: 5px;
} 
 .mid {
    width: 40%;height: 99%;
    border:2px solid rgb(225, 225, 225);
    position: absolute;
    top: 1px;left: 30%;
    padding: 20px;
    /* border:2px solid red; */
 }
 .mid > h3{ 
    text-transform: uppercase;
 }
 .mid > h3 > span {
    font-family: 'Roboto Slab', serif;
    color:red;
    font-size: 35px;
 }
 .head{
     font-size: 35px;
     padding: 10px;
     border:1px dashed rgb(206, 206, 206);
     border-radius: 5px;
     border-top: 10px solid red;
     border-top-right-radius: 10px;
     border-top-left-radius: 10px;
 }
 .img2{
    width: 90%;height: 100px;
    border:2px solid red;
    margin: auto;
    margin-top: 10px;
 }
.done {
    width: 90%;
    height: 50px;
    margin: auto;
    margin-top: 50px;
    border:2px solid rgb(0, 255, 21);
    border-left-width: 15px;
    border-radius: 10px;
    font-weight: bolder;
    padding: 5px;
    display : flex;justify-content:center;
    align-items:center;
     
}
#status {
    width: 30%;
    height : 90%;
    border:2px solid rgb(215, 215, 215);
    padding: 10px;
    float: right;
    position: absolute;
    top: 1px;right: 0px;
    border:2px solid red; 
    overflow: scroll;
}
.output{
    width: 95%;height: 100px;
    margin: auto;
    padding: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    font-weight: bold;
}

.output >p:first-child{
  font-size: 20px;

}
.output >p:last-child{
     
}
.output >h4::before{
     content: 'ORDER ID  ';
}